
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="~/Content/albertos - placehold/css/estiloProjeto.css" />

<div style="left: 700px; margin-top: 100px;">

    <form class="form-horizontal" action="/SaboresAdd/Adiciona" method="post">
        <fieldset>
            <!-- Form Name -->
            <h1 class="openSans"><strong>Cadastro de Produtos</strong> </h1> <hr />
 
            <div class="form-group">
                <label class="col-md-4 control-label openSans" for="txtproduto">Sabor : </label>
                <div class="col-md-6">
                    <input id="sabor" name="sabores.Sabor" type="text" placeholder="Descrição do Produto" class="form-control input-md" required value="@ViewBag.Sabores.Sabor">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label openSans" for="txtproduto">Ingredientes : </label>
                <div class="col-md-6">
                    <input id="ingredientes" name="sabores.Ingredientes" type="text" placeholder="Ingredientes" class="form-control input-md" required value="@ViewBag.Sabores.Ingredientes">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label openSans" for="txtproduto">Preço : </label>
                <div class="col-md-6">
                    <input id="preco" name="sabores.Preco" type="number" placeholder="Preco" class="form-control input-md" required value="@ViewBag.Sabores.Preco">

                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label openSans" for="txtgrupo">Tipo : </label>
                <div class="col-md-4">
                    <select id="tipo" name="sabores.TipoPizza" class="form-control">
                        <option value="S">Pizza Salgada</option>
                        <option value="D">Pizza Doce</option>
                    </select>
                </div>
            </div>
            <!-- Select Basic -->
            <!-- Text input-->
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="btnsalvar"></label>
                <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" value="Adicionar" />
                    <a href="/SaborOuRefri/" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>