
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed" />
<link rel="stylesheet" href="~/Content/albertos - placehold/css/estiloProjeto.css" />

<div >
    <div style="left: 700px; margin-top: 100px;">
        <form class="form-horizontal" action="/RefrigeranteAdd/Adiciona" method="post">
            <fieldset>
                <!-- Form Name -->
                <h1 class="openSans" style="color: white">Cadastro de Refrigerante</h1> <hr />
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label openSans" for="txtproduto" style="color: white">Marca : </label>
                    <div class="col-md-6">
                        <input id="marca" name="refrigerante.Marca" type="text" placeholder="Marca do Refrigerante" class="form-control input-md" required value="@ViewBag.Refrigerante.Marca">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label openSans" for="txtproduto" style="color: white">Tamanho (ml) : </label>
                    <div class="col-md-6">
                        <input id="tamanho" name="refrigerante.Tamanho" type="text" placeholder="Conteúdo (ml)" class="form-control input-md" required value="@ViewBag.Refrigerante.Tamanho">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label openSans" for="txtproduto" style="color: white">Preço : </label>
                    <div class="col-md-6">
                        <input id="preco" name="refrigerante.Preco" type="number" placeholder="Preco" class="form-control input-md" required value="@ViewBag.Refrigerante.Preco">

                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnsalvar"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary openSans" value="Adicionar" />
                        <a href="/SaborOuRefri/" class="btn btn-danger openSans">Cancelar</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>