.openSans {
    font-family: "Open Sans Condensed";
    font-size: 16px;
    text-align: center;
}

.wallpaperpizza {
    background-image: url(269.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}