
@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Cadastro de Produtos</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="txtcodigo_produto_id">Cód. Produto : </label>
            <div class="col-md-2">
                <input id="txtcodigo_produto_id" name="txtcodigo_produto_id" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="txtproduto">Produto : </label>
            <div class="col-md-6">
                <input id="txtproduto" name="txtproduto" type="text" placeholder="Descrição do Produto" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="txtgrupo">Grupo : </label>
            <div class="col-md-4">
                <select id="txtgrupo" name="txtgrupo" class="form-control">
                    <option value="1">Refrigerante</option>
                    <option value="2">Pizza Salgada</option>
                    <option value="3">Pizza Doce</option>
                </select>
            </div>
        </div>
        <!-- Select Basic -->
        <!-- Text input-->
        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btnsalvar"></label>
            <div class="col-md-8">
                <button id="btnsalvar" name="btnsalvar" class="btn btn-primary">Salvar</button>
                <button id="btncancelar" name="btncancelar" class="btn btn-danger">Cancelar</button>
                <button id="btnsalvar" name="btnhome" class="btn btn-primary">Voltar ao Menu principal</button>
            </div>
        </div>
    </fieldset>
