<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(upload/bg-pizza.jpg); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Menu</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu-wrapper">

                <div class="offer-menu-items">
                    <div class="single-offer-category-item isotope-item cat1">
                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">Napolitana</div>
                                <div class="single-offer-content">
                                    <p>Molho, mussarela, tomates em rodelas, parmesão e azeitonas.</p>
                                </div>
                            </div>
                            <div class="single-offer-price">$15</div>
                            <div class="clear"></div>
                        </div>

                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">Calabresa</div>
                                <div class="single-offer-content"><p>Molho, mussarela, calabresa, cebola fatiada e orégano.</p></div>
                            </div>
                            <div class="single-offer-price">$15</div>
                            <div class="clear"></div>
                        </div>

                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">Mussarela</div>
                                <div class="single-offer-content"><p>Molho, mussarela, tomate em rodelas e orégano.</p></div>
                            </div>
                            <div class="single-offer-price">$15</div>
                            <div class="clear"></div>
                        </div>

                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">Margherita</div>
                                <div class="single-offer-content"><p>Molho, mussarela, tomates em rodelas e manjericão</p></div>
                            </div>
                            <div class="single-offer-price">$15</div>
                            <div class="clear"></div>
                        </div>

                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">Alho e Óleo</div>
                                <div class="single-offer-content"><p>Molho, mussarela, alho e azeite de oliva.</p></div>
                            </div>
                            <div class="single-offer-price">$15</div>
                            <div class="clear"></div>
                        </div>

                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">5 Queijos</div>
                                <div class="single-offer-content"><p>Molho, mussarela, provolone, gorgonzola, parmesão e catupiry.</p></div>
                            </div>
                            <div class="single-offer-price">$15</div>
                            <div class="clear"></div>
                        </div>

                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">Frango com Catupiry</div>
                                <div class="single-offer-content"><p>Molho, mussarela, frango desfiado, catupiry e orégano.</p></div>
                            </div>
                            <div class="single-offer-price">$15</div>
                            <div class="clear"></div>
                        </div>

                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">Atum</div>
                                <div class="single-offer-content"><p>Molho, mussarela, atum, cebola desfiada e orégano.</p></div>
                            </div>
                            <div class="single-offer-price">$2.6</div>
                            <div class="clear"></div>
                        </div>

                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">Vegetariana</div>
                                <div class="single-offer-content"><p>Molho, mussarela, brócolis, palmito, tomate, champignon e cebola.</p></div>
                            </div>
                            <div class="single-offer-price">$15</div>
                            <div class="clear"></div>
                        </div>

                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">Portuguesa</div>
                                <div class="single-offer-content"><p>Molho, mussarela, presunto, calabresa, ovos, cebola e azeitonas.</p></div>
                            </div>
                            <div class="single-offer-price">$15</div>
                            <div class="clear"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page wrapper -->
</div>
<!-- end container -->
<div class="clear"></div>
<!-- end container-wrapper -->