<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(upload/bg-pizza.jpg); "></div>
    <div id="fullwidth-container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Pizzas Salgadas</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu2-wrapper">
                <div class="offer-menu2-items">
                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/napolitana.jpg" width="313" height="220" alt="hawaii" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Napolitana</div>
                            <div class="single-offer-menu2-content">
                                <p>Molho, mussarela, tomates em rodelas, parmesão e azeitonas.</p>
                            </div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>
                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/mussarela.jpg" width="313" height="220" alt="freshness" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Mussarela</div>
                            <div class="single-offer-menu2-content">
                                <p>Molho, mussarela, tomate em rodelas e orégano.</p>
                            </div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>

                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png">
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/calabresa.jpg" width="313" height="190" alt="sea" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Calabresa</div>
                            <div class="single-offer-menu2-content"><p>Molho, mussarela, calabresa, cebola fatiada e orégano.</p></div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>

                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/marguerita.jpg" width="313" height="220" alt="calzone" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Marguerita</div>
                            <div class="single-offer-menu2-content">
                                <p>Molho, mussarela, tomates em rodelas e manjericão</p>
                            </div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>
                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/alhoOleo.jpg" width="313" height="220" alt="classic" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Alho e Óleo</div>
                            <div class="single-offer-menu2-content">
                                <p>Molho, mussarela, alho e azeite de oliva.</p>
                            </div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>
                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/cincoQueijos.jpg" width="313" height="220" alt="neapolitan" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">5 Queijos</div>
                            <div class="single-offer-menu2-content">
                                <p>Molho, mussarela, provolone, gorgonzola, parmesão e catupiry.</p>
                            </div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>
                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/frango_miniatura.jpg" width="313" height="220" alt="farmer" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Frango com Catupiry</div>
                            <div class="single-offer-menu2-content">
                                <p>Molho, mussarela, frango desfiado, catupiry e orégano.</p>
                            </div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>
                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/atum_miniatura.jpg" width="313" height="220" alt="slide1" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Atum</div>
                            <div class="single-offer-menu2-content">
                                <p>Molho, mussarela, atum, cebola desfiada e orégano.</p>
                            </div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>
                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/vegetariana.jpg" width="313" height="220" alt="bg-pizza" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Vegetariana</div>
                            <div class="single-offer-menu2-content">
                                <p>Molho, mussarela, brócolis, palmito, tomate, champignon e cebola.</p>
                            </div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>

                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/portuguesa.jpg" width="313" height="220" alt="bg-pizza" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Portuguesa</div>
                            <div class="single-offer-menu2-content">
                                <p>Molho, mussarela, presunto, calabresa, ovos, cebola e azeitonas.</p>
                            </div>
                            <div class="single-offer-menu2-price">$15.00</div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- end page wrapper -->
    </div>
    <!-- end container -->
    <div class="clear"></div>
</div>
<!-- end container-wrapper -->





<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(upload/bg-pizza.jpg); "></div>
    <div id="fullwidth-container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Pizzas Doces</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu2-wrapper">
                <div class="offer-menu2-items">

                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/chocolateBranco.jpg" width="312" height="220" alt="Chocolate Branco" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Chocolate Branco</div>
                            <div class="single-offer-menu2-content">
                                <p>Chocolate branco.</p>
                            </div>
                            <div class="single-offer-menu2-price">$18.00</div>
                        </div>
                    </div>
                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/bananaNevada.jpg" width="313" height="220" alt="freshness" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Banana Nevada</div>
                            <div class="single-offer-menu2-content">
                                <p>Banana, açúcar e canela.</p>
                            </div>
                            <div class="single-offer-menu2-price">$18.00</div>
                        </div>
                    </div>

                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/sensacao.jpg" width="313" height="220" alt="sea" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Sensação</div>
                            <div class="single-offer-menu2-content"><p>Chocolate ao leite e morango.</p></div>
                            <div class="single-offer-menu2-price">$18.00</div>
                        </div>
                    </div>
                    <div class="offer-menu2-item-single">
                        <img class="offer-menu2-frame" src="~/Content/albertos - placehold/images/frame.png" />
                        <div class="offer-menu2-shadow"></div>
                        <div class="offer-menu2-thumb">
                            <img class="offer-menu2-inner-frame" src="~/Content/albertos - placehold/images/inner-shadow.png" />
                        </div>
                        <div class="offer-menu2-thumb-image"><img src="~/Content/albertos - placehold/upload/negresco.jpg" width="313" height="220" alt="hawaii" /></div>
                        <div class="clear"></div>
                        <span class="offer-menu2-icon flaticon-pizza-slice"></span>
                        <div class="offer-menu2-details">
                            <div class="single-offer-menu2-title">Brigadeiro</div>
                            <div class="single-offer-menu2-content">
                                <p>Brigadeiro Moça Nestlé e chocolate granulado.</p>
                            </div>
                            <div class="single-offer-menu2-price">$18.00</div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- end page wrapper -->
    </div>
    <!-- end container -->
    <div class="clear"></div>
</div>
<!-- end container-wrapper -->