<title>Pizzaria Rio Claro</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div id="container" style="left:350px;">
    <a href="/SaboresAdd/" class="btn btn-primary" style="">Cadastrar Sabor</a>
    <hr />
    <br />

    <a href="/FuncionarioAdd/" class="btn btn-primary">Cadastrar Refrigerante</a>
    <hr />
    <br />

    <a href="/Home/" class="btn btn-danger">Menu Principal</a>

</div>