<title>Pizzaria Rio Claro</title>
<link rel="stylesheet" href="~/Content/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/albertos - placehold/css/estiloProjeto.css" />

<div class="container fa-align-center">
    <form>

        <div class="row">
            <div class="col w-25"></div>
            <div class="col w-50" style="margin-top: 150px;">
                <a href="/SaboresAdd/" class="btn btn-primary openSans" style="width: 350px; height: 60px;"><img src="https://png.icons8.com/office/40/c0392b/pizza.png">Cadastrar Sabor Salgado</a>
                <br />
                <br />
            </div>
            <div class="col w-25"></div>
        </div>
        <div class="row">
            <div class="col w-25"></div>
            <div class="col w-50">
                <a href="/SaboresDoceAdd/" class="btn btn-primary openSans" style="width: 350px; height: 60px;"><img src="https://png.icons8.com/dusk/40/c0392b/chocolate-bar.png">Cadastrar Sabor Doce</a>
                <br />
                <br />
            </div>
            <div class="col w-25"></div>
        </div>
        <div class="row">
            <div class="col w-25"></div>
            <div class="col w-50">
                <a href="/RefrigeranteAdd/" class="btn btn-primary openSans" style="width: 350px; height: 60px; text-align: center"> <img src="https://png.icons8.com/linen/40/c0392b/soda-cup.png"> Cadastrar Refrigerante</a>
            </div>
            <div class="col w-25"></div>
        </div>
        <br />
         <div class="row">
            <div class="col w-25"></div>
            <div class="col w-50">
                <a href="/Admin/" class="btn btn-danger openSans" style="width: 350px; height: 60px;"> <img src="https://png.icons8.com/linen/40/c0392b/delete-sign.png"> Voltar </a>
            </div>
            <div class="col w-25"></div>
        </div>

    </form>
</div>