<title>Pizzaria Rio Claro</title>

<div id="container" style="left:700px; margin-top: 200px;">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <a href="/SaboresAdd/" class="btn btn-primary openSans" style="width: 350px; height: 60px;"><img src="https://png.icons8.com/office/40/c0392b/pizza.png">Cadastrar Sabor Salgado</a>
    <br />
    <br />

    <a href="/SaboresAdd/" class="btn btn-primary openSans" style="width: 350px; height: 60px;"><img src="https://png.icons8.com/dusk/40/c0392b/chocolate-bar.png">Cadastrar Sabor Doce</a>
    <br />
    <br />

    <a href="/RefrigeranteAdd/" class="btn btn-primary openSans" style="width: 350px; height: 60px; text-align: center"> <img src="https://png.icons8.com/linen/40/c0392b/soda-cup.png"> Cadastrar Refrigerante</a>
    <br />
    <br />

    <a href="/Home/" class="btn btn-danger openSans" style="width: 350px; height: 60px;"> <img src="https://png.icons8.com/linen/40/c0392b/delete-sign.png"> Menu Principal</a>

</div>
