<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(upload/bg-pizza.jpg); "></div>
    <div id="container" class="template-contact-container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Contato</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="contact-maps">
                <div id="map_canvas" class="mapStyleClass"></div>
            </div>
            <div class="contact-info-wrapper">
                <div class="contact-details">
                    <div class="contact-detail contact-detail1">
                        <div class="contact-detail-title">Endereço</div>
                        <div class="contact-detail-content">
                            <p>Rua 7 de Setembro, 1023<br /> Blumenau, Santa Catarina</p>
                        </div>
                    </div>
                    <div class="contact-detail contact-detail2">
                        <div class="contact-detail-title">Ligue ou escreva para nós!</div>
                        <div class="contact-detail-content">
                            <p>
                                <strong>Telefone </strong>00386 40 868 300<br />
                                <strong>Email / </strong>rioclaro@pizzaria.com
                            </p>
                        </div>
                    </div>
                    <div class="contact-detail contact-detail3">
                        <div class="contact-detail-title">Horário de atendimento</div>
                        <div class="contact-detail-content">
                            <p>
                                <strong>Terça à Sexta / </strong> 11:00 - 23:00<br />
                                <strong>Sábado e Domingo / </strong>11:00 - 1:00<br />
                                <strong>Segunda</strong> (Fechado)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="contact-form-wrapper">
                    <div role="form" class="wpcf7" id="wpcf7-f49-p15-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>

                        <form id="contact-form" action="#">
                            <div class="albertos-contact-form">
                                <div class="contact-detail-title">Envie uma crítica ou um elogio para nós!</div>
                                <div class="app-name">
                                    <span class="wpcf7-form-control-wrap name-input">
                                        <input name="name" id="name" type="text" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nome" />
                                    </span>
                                </div>
                                <div class="app-phone">
                                    <span class="wpcf7-form-control-wrap email-input">
                                        <input name="mail" id="mail" type="text" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" />
                                    </span>
                                </div>
                                <p>
                                    <span class="wpcf7-form-control-wrap appointment-message">
                                        <textarea name="comment" id="comment" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Mensagem"></textarea>
                                    </span>
                                </p>
                                <div class="clear"></div>
                                <div class="contact-submit"><input type="submit" value="Enviar Mensagem" class="wpcf7-form-control wpcf7-submit" id="submit_contact" /><div id="msg" class="message"></div></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- end page wrapper -->
    </div>
    <!-- end container -->
    <div class="clear"></div>
</div>
<!-- end container-wrapper -->