@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>

<html>
<head>
    <style>
    </style>
</head>
<br />

<a href="SaboresAdd/" class="">Cadastrar Produto</a>
<hr />
<br />

<a href="/FuncionarioAdd/" class="">Cadastrar Funcionario</a>
<hr />
<br />

<a href="/Home/" class="btn btn-danger">Menu Principal</a>


</html>
